<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Universal Login Manager</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Animated Responsive Image Grid - Cycling through a set of images in a responsive grid." />
	<meta name="keywords" content="grid, images, thumbnails, responsive, css3, jquery, javascript, random, transition, 3d, perspective" />
	<meta name="author" content="Codrops" />
	<!-- <link rel="shortcut icon" href="../favicon.ico"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="master.css">
	<link rel="stylesheet" href="custom.css">
	<!-- <link rel="stylesheet" type="text/css" href="./../css/demo.css" /> -->
	<link rel="stylesheet" type="text/css" href="login.css" />
	
	
	<script type="text/javascript" src="modernizr.custom.26633.js"></script>
	<noscript>
		<link rel="stylesheet" type="text/css" href="https://objyyz.navaeraondemand.com/EnViewIMF4.1.1/css/fallback.css" />
	</noscript>
	<!--[if lt IE 9]>
				<link rel="stylesheet" type="text/css" href="css/fallback.css" />
			<![endif]-->
	<style>
		button.btn.btn-link {
				display: block;
				margin-bottom: 0.5rem;
				font-size: 1rem;
				text-decoration: none;
			}

			button.btn.btn-link.collapsed  i.fa.fa-angle-right {
				transform: rotate(0deg);
			}
			button.btn.btn-link.collapsed.show  i.fa.fa-angle-right {
				transform: rotate(90deg);
			}

			button.btn.btn-link i.fa.fa-angle-right {
				transform: rotate(90deg);
			}

			.input-group-append .input-group-text i.fa {
				width: 30px;
			}
			.card.center-area{
				width: 100%;
			}
		
		</style>
</head>

<body style="background:#8392a9; overflow-y: scroll;">
	<!-- Codrops top bar -->
	<section class="main">

		<div id="ri-grid" class="ri-grid ri-grid-size-2">
			<img class="ri-loading-image" style="margin:2.5rem 0px;" src="loading.gif" />
		
		</div>
		<div class="codrops-header-special">
			<h1>Application Setup Wizard</h1>
		</div>


	</section>
	<div class="col  " style="background: #b6bec8;">
		<div class="row" id="loginForm1">
			<div class="col-lg-7 d-sm-flex justify-content-center" style="margin:3rem auto 3rem;">
				<div class="card center-area">
					<div class="card-body">
						<div class="alert alert-info" role="alert">
							<p class="m-0"> Please complete the fields below to setup this app.</p>
						</div>
						<button class="btn btn-link collapsed p-0 p-sm-2 d-block" data-toggle="collapse" data-target="#collapseOne"
						 aria-expanded="false">
							<h4> <i class="fa fa-angle-right" aria-hidden="true"></i> <Strong>Basic Configuration</Strong></h5>
						</button>
						<div id="collapseOne" class="collapse" aria-labelledby="headingOne">
							<div class=" card card-body border-0 py-0">
								<form class="p-md-3">
									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Base Url </h5>
										</label>

										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" name="BaseURL" class="form-control  asset-basics" required>
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa bg-danger text-white fa-exclamation  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											The Url that will be used to access this system (e.g. https://someurl.somthing.com )
										</small>
									</div>

									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Log File Path</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" name="LogFilePath" class="form-control  asset-basics" required>
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											The path on the server that will be used to store log files
										</small>
									</div>
								</form>
							</div>
						</div>

						<button class="btn btn-link collapsed p-0 p-sm-2 d-block" data-toggle="collapse" data-target="#collapseTwo"
						 aria-expanded="false">
							<h4><i class="fa fa-angle-right" aria-hidden="true"></i><Strong> Email Server Configuration</Strong></h5>
						</button>

						<div id="collapseTwo" class="collapse " aria-labelledby="headingTwo">
							<div class=" card card-body border-0 py-0">
								<form class="p-md-3">
									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">SMTP Server </h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" name="Server" class="form-control  asset-basics" required>
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa bg-danger text-white fa-exclamation  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											Hostname of IP address of the SMTP server
										</small>
									</div>

									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">SMTP port</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" name="Port" class="form-control  asset-basics" required>
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											TCP port number of the SMTP Server
										</small>
									</div>

									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">SMTP Username</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" name="Username" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											The username of the SMTP server to connect to
										</small>
									</div>

									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">SMTP Password</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" name="Password" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											The password of the SMTP server to connect to
										</small>
									</div>

								</form>
							</div>
						</div>

						<button class="btn btn-link p-0 p-sm-2 d-block" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
							<h4> <i class="fa fa-angle-right" aria-hidden="true"></i><Strong> Database Configuration</Strong></h5>
						</button>

						<div id="collapseThree" class="collapse show" aria-labelledby="headingThree">
							<div class=" card card-body border-0 py-0">
								<form class="p-md-3">
									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Hostname </h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" name="Hostname" class="form-control  asset-basics" required>
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa bg-danger text-white fa-exclamation  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											Hostname of IP address of the SMTP server
										</small>
									</div>

									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Port</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											TCP port number of the SMTP Server
										</small>
									</div>

									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Username</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											The username of the SMTP server to connect to
										</small>
									</div>

									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Password</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											The password of the SMTP server to connect to
										</small>
									</div>
									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Database Name</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											The name of the database
										</small>
									</div>

								</form>
							</div>
						</div>

						<button class="btn btn-link collapsed p-0 p-sm-2 d-block" data-toggle="collapse" data-target="#collapseFour"
						 aria-expanded="false">
							<h4><i class="fa fa-angle-right" aria-hidden="true"></i><Strong> LDAP Configuration</Strong></h5>
						</button>

						<div id="collapseFour" class="collapse " aria-labelledby="headingFour">
							<div class=" card card-body border-0 py-0">
								<form class="p-md-3">
									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Hostname </h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa bg-danger text-white fa-exclamation  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<!-- <div class="col-md-8">
												<input type="text" class="form-control " id="">
											</div> -->
										<small id="helpId" class="col-12 form-text text-muted">
											Hostname of IP address of the SMTP server
										</small>
									</div>

									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Port</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											TCP port number of the SMTP Server
										</small>
									</div>

									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Username</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											The username of the SMTP server to connect to
										</small>
									</div>
									<!-- <div class="input-group col-sm-6 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics" placeholder="asset id">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa bg-danger text-white fa-exclamation  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div> -->
									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Password</h5>
										</label>

										<div class="input-group col-sm-8">
											<input type="text" id="assetId" class="form-control" placeholder="asset id">
											<div class="input-group-append">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa bg-danger text-white fa-exclamation  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>

										<!-- <div class="col-md-8">
												<input type="text" class="form-control " id="">
											</div> -->
										<small id="helpId" class="col-12 form-text text-muted">
											The password of the SMTP server to connect to
										</small>
									</div>
									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Base DN</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											Root node in LDAP from which to search for users and groups. Example cn=users d-c=example, dc=name
										</small>
									</div>
									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Additional User DN</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											Prepended to the base DN to limit the scope when searching for users.
										</small>
									</div>
									<div class="form-group row mb-2">
										<label for="" class="col-md-4">
											<h5 class="m-0 pt-1">Administration</h5>
										</label>
										<div class="input-group col-md-8 mb-2">
											<input type="text" id="assetId" class="form-control  asset-basics">
											<div class="input-group-append asset-basics">
												<span class="input-group-text bg-transparent p-0 rounded border-0">
													<i class="fa fa-check text-white bg-success  p-2 rounded-circle ml-2" aria-hidden="true"></i>
												</span>
											</div>
										</div>
										<small id="helpId" class="col-12 form-text text-muted">
											The LDAP account to be used for the system's initial administrator. Example : username (for
											username@example.com)
										</small>
									</div>

								</form>
							</div>
						</div>
						<div class="alert alert-danger" role="alert">
							<p class="m-0">Example error message</p>
						</div>
						<div class="row">
							<div class="col-12">
								<a name="" id="" class="btn btn-primary float-right" href="#" role="button">save</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="container-fluid">
        <div class="col-12 py-3 d-sm-flex justify-content-between align-items-center">
            <div class=" text-white float-sm-left text-center my-2">  Sciences, LLC</div>
            <div class=" text-white float-sm-left text-center my-2">  <img src="./../img/nlogo.png"></div>
        </div>

    </div>


	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js " integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh "
	 crossorigin="anonymous "></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js " integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ "
	 crossorigin="anonymous "></script>
	<script type="text/javascript">
		var $j = $.noConflict(true);
	</script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="../static/jquery.gridrotator.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#ri-grid').gridrotator({
				rows: 3,
				columns: 15,
				animType: 'fadeInOut',
				animSpeed: 1000,
				interval: 600,
				step: 1,
				w320: {
					rows: 3,
					columns: 4
				},
				w240: {
					rows: 3,
					columns: 4
				}
			});
		});
	</script>
</body>

</html>